/*
 * Hover.css preview!
 */
.hover__preview {
  padding: 30px 15px;
  background-image: url('../img/preview-background.png');
}
.custom-button {
  margin: var(--space-m) var(--space-s) var(--space-m) calc(var(--space-s) - 6px);
  padding: calc(var(--space-m) - 1px) calc(var(--space-l) - 1px);
  cursor: pointer;
  background: #21ba45;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1rem;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: var(--button-border-radius-size);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.custom-button:hover,
.custom-button:focus {
  color: #fff;
}
.icon-button {
  background-color: #f2711c;
  padding-left: 6px;
}
[dir="rtl"] {
  padding-left: inherit;
  padding-right: 6px;
}
.icon-button i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  padding: 0px 6px;
}
.icon-button i:before {
  content: "☃";
}

/*
 * HoverCSS fields wrapper!
 */
.hovercss-wrapper {
  margin-bottom: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.hovercss-wrapper .form-item__label {
  display: flex;
}
.hovercss-wrapper .form-item {
  margin-right: 6px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
[dir="rtl"] .hovercss-wrapper .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.hovercss-wrapper .form-element {
  display: inline-flex;
}
.hovercss-wrapper .form-item__description {
  display: block !important;
}
/* Hover delay time and duration field */
.hover-delay {
  width: 147px;
}
.hover-duration {
  width: 147px;
}
/* Hover field suffix */
.hovercss-form .form-item__suffix,
.hovercss-settings-form .form-item__suffix {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0;
  margin-left: -6px;
  transform: rotate(90deg);
}
/* Hover flags */
.hovercss-unit-flag,
.hovercss-beta-flag,
.hovercss-experimental-flag,
.hovercss-new-flag {
  font-size: 10px;
  font-weight: 525;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  padding: .125em .5em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  line-height: 1.5;
}
body[class^="gin--"] .hovercss-beta-flag,
body[class^="gin--"] .hovercss-experimental-flag,
body[class^="gin--"] .hovercss-new-flag {
  border-radius: .75rem;
}
.hovercss-beta-flag,
.hovercss-experimental-flag {
  color: #555;
  background: #ddd;
}
body[class^="gin--"] .hovercss-beta-flag,
body[class^="gin--"] .hovercss-experimental-flag {
  color: #777;
  background: #eee;
}
.gin--dark-mode .hovercss-beta-flag,
.gin--dark-mode .hovercss-experimental-flag {
  color: #9e9fa0 !important;
  background: rgba(255, 255, 255, .1) !important;
}
.hovercss-new-flag {
  color: #fff;
  background-color: #26a769;
}
body[class^="gin--"]  .hovercss-new-flag {
  font-size: 9px;
  font-weight: bold;
  color: #39b77b;
  background-color: #26a76930;
}
.hovercss-unit-flag {
  font-size: 14px;
  color: #d8b234;
  text-transform: lowercase;
}
/* Library status report */
.library-status-report {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-block: 1em;
  padding-inline: 3em 1em;
  font-weight: 400;
  font-size: 14px;
  color: #545454;
  background-color: #f6f6f6;
  border-radius: .45rem;
}
.library-status-report::before {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-start: 0.625rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-inline-end: 0.625rem;
  content: "";
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg fill='%23e29700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.66 12.316-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625z'/%3e%3c/svg%3e");
}

/*
 * Hover administration overview page!
 */
.hovercss-filter.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--space-l);
  padding: var(--space-xs) var(--space-l) var(--space-l) var(--space-l);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--details-border-size-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
}
.hovercss-filter {
  margin-bottom: 24px !important;
  padding-top: 12px !important;
  padding-bottom: 9px !important;
}
.hovercss-filter .form-item {
  margin-right: 6px;
}
[dir="rtl"] .hovercss-filter .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.hovercss-filter .form-element {
  display: table;
}
.hovercss-filter .form-submit {
  margin-right: 6px;
}
[dir="rtl"] .hovercss-filter .form-submit {
  margin-left: 6px;
  margin-right: 0;
}
.hovercss-filter .form-submit:last-child {
  margin-left: 0;
  margin-right: 0;
}
/* List status marker */
.hovercss-list .marker {
  font-size: .75rem;
  font-weight: 525;
  display: inline-block;
  padding: .125em .75em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  color: #777;
  background: #eee;
}
.gin-layer-wrapper .hovercss-list .marker {
  color: #777;
  background: #eee;
  border-radius: .75rem;
}
.hovercss-list .marker--enabled {
  color: #fff;
  background-color: #26a769;
}
.gin-layer-wrapper .hovercss-list .marker--enabled {
  color: #39b77b;
  background-color: #26a76930;
}
/* Gin theme fix delete icon color */
#block-gin-content .action-link--icon-trash.action-link--danger:before,
#block-gin-content .button.button--danger:before,
#block-gin-content a.button.button--danger:before {
  background-color: #cc3d3d !important;
}
#block-gin-content .action-link--icon-trash.action-link--danger:hover:before,
#block-gin-content .action-link--icon-trash.action-link--danger:focus:before,
#block-gin-content .action-link--icon-trash.action-link--danger:active:before,
#block-gin-content .button.button--danger:hover:before,
#block-gin-content .button.button--danger:focus:before,
#block-gin-content .button.button--danger:active:before,
#block-gin-content a.button.button--danger:hover:before,
#block-gin-content a.button.button--danger:focus:before,
#block-gin-content a.button.button--danger:active:before {
  background-color: #ffffff !important;
}
